.container {
  width: 100%;
  min-height: 150vh;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-bottom: 50px;
}

.cards-container {
  display: grid;
  grid-template-columns: auto auto;
  height: 100px;
  gap: 50px 100px;
  justify-content: center;
}

h2 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}
/* 
div {
  display: block;
  width: 100%;
  height: 10%;
  text-size-adjust: 25px;
} */

@media only screen and (max-width: 768px) {
  .cards-container {
    margin: 0px 50px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;
    justify-content: center;
  }
}

.no_underline {
  text-decoration: none;
  height: 500px;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to bottom, #6fdfdd, #dcf2f1);
  /* Replace the colors above with your desired gradient colors */
  position: relative;
  margin-bottom: 100px;
}
